
.div img {
  filter: saturate(0%);
  width: 10%;
  border: 2px solid whitesmoke;
  height: 100%;
  object-fit: cover;
  transition: all ease 0.4s;
  cursor: pointer;
  
}
.div img:hover {
  filter: saturate(30%);
  width: 30%;
}
.div{
  text-align: center;
  
}

.mainHeading{
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: xx-large;
    text-align: center;
  text-shadow: 1dvh;
}
#intro{
  text-align: center;
  border: 0px solid black;
  border-radius: 10px;
  box-shadow: 4px 8px 9px 7px lightgrey;
  padding: 20px;
  margin-top: 10px;
  margin-inline: 20px;


}
#intro h2{
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
#intro p{
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
#container{
  display: grid;
  /* grid-template-columns: repeat(auto-fit,min-max(180px,1fr)); */
  grid-template-columns: repeat(4,0.8fr);
  gap: 15px;
  padding: 20px;
}
#Explosion-profing{
  border: 1px solid black;
  box-shadow: 4px 8px 9px 7px lightgrey;
  padding: 20px;
  text-align: center;
  justify-items: center;
}

#dust-proofing{
   border: 1px solid black;
  box-shadow: 4px 8px 9px 7px lightgrey;
  padding: 20px;
  text-align: center;
  justify-items: center;

}

#maintanance{
  border: 1px solid black;
  box-shadow: 4px 8px 9px 7px lightgrey;
  padding: 20px;
  text-align: center;
  justify-items: center;

}
#Reporting{
  border: 1px solid black;
  box-shadow: 4px 8px 9px 7px lightgrey;
  padding: 20px;
  text-align: center;
  justify-items: center;

}
header{
  padding: 30px;
  background-color: lightskyblue;
}
body{
  padding: 0;
  margin: 0;
}
.div{
  margin-top: 35px;
}
.h3{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}